.playground
  margin 1em 0
  border 1px solid #ddd
  border-radius 6px
  overflow hidden
  > div
    border-radius 0 !important
    pre
      margin 0 !important
  > div[class*="language-"]
    margin 0
  > .stage
    padding 1.5rem 1.5rem
    border 0
